.App {
  font-family: sans-serif;
  text-align: center;
  border: solid lightgrey 1px;
  border-radius: 4px;
  background: rgb(115, 115, 145);
  color: #ffff;
  padding: 20px;
}

body {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: -1px;
  padding-left: 10px;
  text-align: left;
}

h2 {
  margin: 0px auto;
  text-align: left;
  margin-left: 16px;
}

form {
  float: right;
  margin: 0px 0px 100px 0px;
}

li {
  list-style: none;
}

.location-button {
  margin: 5px -10px 0 190px;
  color: #ffff;
  border: none;
  background-color: transparent;
}

.search-button {
  text-align: center;
}

.unit {
  font-size: 20px;
}

.currentDay {
  text-align: left;
  padding-left: 16px;
}

.dayForcast {
  text-align: left;
  padding-left: 16px;
}

.card-body {
  text-align: center;
}

.extra {
  float: right;
  padding-right: 16px;
}

#celsius {
  text-decoration: none;
  color: #ffff;
}
